@tailwind base;
@tailwind components;
@tailwind utilities;


.barra-left {
    position: absolute;
    top: -30px;
    left: 0px;
}

.barra-right {
    position: absolute;
    top: -30px;
    right: -10px;
}

#mercurio {
    width: 0; // debe cambiar junto a left de #puntero
}

#puntero {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 58px;
    height: 58px;
    margin-top: 8px;
    position: absolute;
    left: -23px;

    z-index: 50;

    svg {
        fill: orange;
    }

    p {
        top: 20px;
    }
}

#flecha-puntero {
    left: -4px;
    top: 55px;
}

.movimientos {
    position: relative;

    &:hover {
        background-color: rgb(218, 218, 218);

        &::after {
            position: absolute;
            right: -10px;
            top: -10px;
            display: flex;
            align-items: center;
            justify-content: center;
            content: "X";
            width: 26px;
            height: 26px;
            border-radius: 50px;
            background-color: rgb(136, 136, 136);
            color:white;
            font-weight: 600;
        }
    }
}